@media(min-width: 1200px) {
  .nk-sidebar+.nk-wrap>.nk-header-fixed {
    left: 280px !important;
  }

  .buysell.wide-xs {
    max-width: 620px !important;
  }

  .form-control-number {
    padding: 10px 17px;
    height: 60px;
  }
  .nk-sidebar {
    width: 280px !important;
  }

  .nk-sidebar+.nk-wrap {
    padding-left: 290px !important;
  }

  .nk-sidebar .nk-sidebar-widget {
    padding: 0 20px;
  }

  .user-account-actions:not(:first-child) {
    margin-top: 0;
  }
}

.buysell-pm-label::after {
  background-color: #DA251A !important;
}
.btn-primary, .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #DA251A !important;
  border-color: #DA251A !important;
}


.text-primary, .user-balance, .nk-wgw-inner a, .nk-wgw-inner a .title {
  color: #DA251A !important;
}

.bg-primary {
  background-color: #DA251A !important;
}


* {
  font-family: Nunito,sans-serif !important;
}


.nk-menu-item.active .nk-menu-link, .nk-menu-item.active .nk-menu-icon,  .nk-menu-item .nk-menu-link:hover, .nk-menu-item .nk-menu-link:hover .nk-menu-icon {
  color: #DA251A !important;
}


textarea {
    font-family: Nunito,sans-serif !important;
}

.buysell .form-control-group .custom-file label {
  height: 3.40rem;
  display: flex;
  align-items: center;
}

.buysell-field .select2 {
  height: 3.75rem;
}

.buysell-field .select2 .select2-selection__rendered li.select2-selection__choice {
  display: flex;
  align-items: center;
}

.buysell-field .select2 .select2-selection, .select2 .select2-selection__rendered {
  height: 100%;
}

.buysell .form-control-group .custom-file label::after {
  display: flex;
  height: 3.40rem;
  align-items: center;
  justify-content: center;
  content: 'Pilih gambar';
}

.link-list-plain label {
  display: flex;
  align-items: center;
  padding: .5rem 1.25rem;
  color: #526484;
  transition: all .4s;
  line-height: 1.4rem;
  margin: 0;
  position: relative;
}

.dashboard__product .card + .card {
  margin-top: 10px;
}

.dashboard__product .card {
  border-bottom: 1px solid #e1e1e1;
  border-radius: 0;
}

.dashboard__product .card:last-child {
  border-width: 0;
}


#uploader-container div.border {
  margin-top: 1rem;
}

#uploader-container div.border:first-child {
  margin-top: 0;
}


details summary {
  font-size: 1.2rem;
  font-weight: 600;
  color: #364a63;
}

details p, .product__price {
  font-size: 1.1rem;
}


.badge-primary {
  background-color: #DA251A !important;
  color: white !important;
  border-color: rgb(132, 52, 46) !important;
}

.badge-dim.badge-primary {
  background-color: #ffe8e7 !important;
  color: #DA251A !important;
  border-color: #7d7170 !important;
}
